@import "variables";
@import "custom.bootstrap.variables";

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "reset";

body {
  background: $sobv-body-bg;
  font-family: $sobv-font-family;
  font-size: $sobv-font-size;
  color: $sobv-color-font;
}

h1 {
  font-size: calc(2 * $sobv-font-size);
  line-height: calc ( 36px );
}
