@import "variables";
@import "custom.bootstrap.variables";

@import "../../../node_modules/bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";
@import "reset";

body {
  background: $sobv-body-bg;
  font-family: $sobv-font-family;
  font-size: $sobv-font-size;
  color: $sobv-color-font;
}

h1 {
  font-size: calc(2 * $sobv-font-size);
  line-height: 36px;
}

h3 {
  font-size: $sobv-font-size;
  line-height: 20px;
}

input[type=radio] {
    accent-color: $sobv-color-blue;
    height: $sobv-input-radio-size;
    width: $sobv-input-radio-size; 
}