
$sobv-font-family: "Open Sans", sans-serif, Inter, SansSerif;

//TODO get all colors from map
$sobv-map-color: (
  white: #ffffff,
  black: #414042,
  lime: #8EC549,
  green: #43BF10,
  teal: #53BDBE,
  blue :#499EE2,
  violet :#8A6CC9,
  pink: #ED6AC8,
  red: #FF424B,
  light-orange :#EE9F41,
  yellow: #F2C600,
  grey: #B2B5B8
);

$sobv-margin-base: 20px;
$sobv-padding-base: 20px;
$sobv-body-bg: #F5F5F5;

$sobv-header-height: 60px;
$sobv-header-padding: 0 $sobv-margin-base 0 $sobv-margin-base;
$sobv-header-bg: #404142;

$sobv-sub-header-height: 100px;
$sobv-sub-header-background: url("../../../../assets/images/misc/pixel-ukraine.svg");

$sobv-input-radio-size: 18px;
//
$sobv-border-radius-base: 3px;
$sobv-input-height: 28px;
//
$sobv-input-border-color: #B2B5B8;

// TODO remove unused font sizes
$sobv-font-size-sm: 12px;
$sobv-font-size: 14px;
$sobv-font-size-semi-lg: 18px;
$sobv-font-size-xl: 60px;

$sobv-color-font: #414042;
$sobv-color-gray: #878A8D;
$sobv-color-gray-light: #B2B5B8;
$sobv-color-white: #fff;
$sobv-color-blue: #357EEB;

$sobv-background-image: url("../../../../assets/images/misc/ukraine-main.svg");
//TODO use mixin for gradient
$sobv-background-gradiend: linear-gradient(246.63deg, #819745 2.69%, #4C6A3D 101.82%);

$sobv-height-btn: 40px;
$sobv-width-btn: 190px;

//TODO: make loop for $sobv-cascade-level-offset
$sobv-cascade-level-offset-2: 10px;
$sobv-cascade-level-offset-3: 20px;
$sobv-cascade-level-offset-4: 30px;
$sobv-cascade-level-offset-5: 40px;

$sobv-rate-hight: 12px;
$sobv-rate-border-radius: 10px;

$sobv-first-strip-width: 3px;
$sobv-second-strip-width: 6px;

$sobvRateColorMap: (
  high: map-get($sobv-map-color, green),
  medium: map-get($sobv-map-color, yellow),
  low: map-get($sobv-map-color, light-orange),
  critical: map-get($sobv-map-color, red),
  no-color: map-get($sobv-map-color, grey)
);
$sobvRateBlurredColorMap: (
  high: lighten(desaturate(map-get($sobv-map-color, green), 30%), 40%),
  medium: lighten(desaturate(map-get($sobv-map-color, yellow), 10%), 30%),
  low: lighten(desaturate(map-get($sobv-map-color, light-orange), 10%), 30%),
  exist:lighten(desaturate(map-get($sobv-map-color, green), 40%), 40%),
  no-color: lighten(desaturate(map-get($sobv-map-color, grey), 10%), 30%)
);
// ------Tooltip -----------
$sobv-tooltip-bg: rgba(0, 0, 0, 0.7);
$sobv-tooltip-br: 4px;
