
$sobv-font-family: "Open Sans", sans-serif, Inter, SansSerif;

$sobv-margin-base: 20px;
$sobv-padding-base: 20px;
$sovb-body-bg: #F5F5F5;

$sobv-header-height: 60px;
$sobv-header-padding: 0 $sobv-margin-base 0 $sobv-margin-base;
$sobv-header-bg: #404142;

$sobv-sub-header-height: 100px;
$sobv-sub-header-background: url("../../../../assets/images/misc/pixel-ukraine.svg");

$sobv-font-size-sm: 12px;
$sobv-font-size-semi-sm: 13px;
$sobv-font-size: 14px;
$sobv-font-size-semi-lg: 18px;
$sobv-font-size-lg: 28px;
$sobv-font-size-xl: 60px;

$sobv-color-font: #414042;
$sobv-color-gray: #878A8D;
$sobv-color-gray-light: #B2B5B8;
$sobv-color-white: #fff;
$sobv-color-blue: #357EEB;

$sobv-background-image: url("../../../../assets/images/misc/ukraine-main.svg");
$sobv-background-gradiend: linear-gradient(246.63deg, #819745 2.69%, #4C6A3D 101.82%);

$sobv-height-btn: 40px;
$sobv-width-btn: 190px;
