
$sobv-font-family: "Open Sans", sans-serif;
$sobv-background-primary: #404142;

$sobv-margin-base: 20px;

$sobv-height-header: 60px;
$sobv-padding-header: 0 20px 0 20px;


$sobv-font-size: 13px;
$sobv-font-size-semi-lg: 18px;
$sobv-font-size-xl: 60px;

$sobv-color-gray-light: #B2B5B8;
$sobv-color-white: #fff;

$sobv-background-image: url("../../../../assets/images/misc/ukraine-pixels.svg");
$sobv-background-gradiend: linear-gradient(246.63deg, #819745 2.69%, #4C6A3D 101.82%);

$sobv-height-btn: 40px;
$sobv-width-btn: 190px;
