
$sobv-font-family: "Open Sans", sans-serif;

$sobv-height-header: 60px;
$sobv-padding-header: 0 20px 0 21px;

$sobv-font-size: 13px;

$sobv-color-primary: #357EEB;
$sobv-color-secondary: #878A8D;
$sobv-color-gray-dark: #404142;
$sobv-color-gray-light: #B2B5B8;
$sobv-color-gray-extra-light: #F3F4F5;
 