<div class="sobv-rate-bar-cont">
  <div class="sobv-rate-wrap" #rateWrap>
    <div class="sobv-rate-bar">
      <div class="sobv-rate-period-exist"
           *ngIf="widthPeriodExist && widthPeriodExist > 0"
           [ngStyle]="{'width': widthPeriodExist + 'px', 'left': leftPeriodExist + 'px'}">
      </div>
      <div class="sobv-rate-future-mask"
           *ngIf="widthPeriodFuture && widthPeriodFuture > 0"
           [ngStyle]="{'width': widthPeriodFuture + 'px', 'left': leftPeriodFuture + 'px'}">
      </div>
      <div class="sobv-rate-future-exist-mask score-{{currentItemRange.score}}"
           *ngIf="widthExistPeriodFuture && widthExistPeriodFuture > 0"
           [ngStyle]="{'width': widthExistPeriodFuture + 'px', 'left': leftExistPeriodFuture + 'px'}">
      </div>
      <div class="sobv-rate-future-mask"
           *ngIf="widthPeriodFuture && widthPeriodFuture > 0"
           [ngStyle]="{'width': widthPeriodFuture + 'px', 'left': leftPeriodFuture + 'px'}">
      </div>
      <div class="sobv-rate-rate-item sobv-cursor-cp score-{{item.score}}"
           [ngStyle]="{'width': item.width + 'px', 'left': item.left + 'px'}"
           [attr.data-sobv-rate-hi]="item.health"
           (click)="item.isOpenTooltip=true; showDetails($event, item)"
           [popper]="rateBarTooltip"
           [popperTrigger]="'click'"
           [popperPlacement]="'bottom'"
           [popperDisabled]="isDisabledToolTip"
           [popperApplyClass]="'tooltip,sobv-health-bar-tooltip'"
           [popperApplyArrowClass]="'tooltip-arrow'"
           *ngFor="let item of ratesData;">
      </div>
      <div class="sobv-rate-rate-division"
           [ngStyle]="{'left': item.left + 'px'}"
           *ngFor="let item of divisionLineData;"></div>
    </div>
    <div class="sobv-rate-current-division score-{{currentItemRange.score}}"
         *ngIf="isShowCurrentDivision && !isFutureStartTime"
         [ngStyle]="{'left': leftCurrentPoint + 'px'}">
    </div>
    <div class="sobv-rate-current-division score-no-item"
         *ngIf="isShowCurrentDivision && isFutureStartTime"
         [ngStyle]="{'left': leftCurrentPoint + 'px'}">
    </div>
  </div>
  <popper-content #rateBarTooltip>
    <div class="sobv-tooltip-cont">
      <ul class="sobv-items-list">
        <li class="sobv-logo-con-wrap" *ngFor="let item of itemsInTimeRange">
          <div class="logo-con">
                <span [ngClass]="{'sobv-label-fill-round-red': item.score === 'high', 'sobv-label-fill-round-light-orange': item.score === 'medium', 'sobv-label-fill-round-yellow': item.score === 'low' }">
                </span>
          </div>
          <ul class="aside-logo">
            <li>
              <h3><a href="" > {{item.summary| sobvLimitString: 60:'...'}}</a></h3>
            </li>
            <li class="priority-{{item.score}}">
              <span><span *ngIf="item.client_escalated">[escalated]</span>{{item.score}} Score {{item.type}}</span>
            </li>
            <li class="date">
              <span>{{item.start_time *1000|date:'dd MMM yyyy'}}</span>
            </li>
          </ul>
        </li>
      </ul>
      <div class="clearfix"></div>
    </div>
  </popper-content>
  <div class="clearfix"></div>
</div>


