<ng-template #contentPopup let-modal>
	<div class="modal-header sobv-modal-header">
		<sobv-header>
<!--      TODO: rework header without link dashboard-->
			<div control class="sobv-modal-popup">
				<button class="btn btn-secondary" (click)="closePopUp()">Закрити</button>
				<button class="btn btn-secondary disabled" (click)="next()">Далі</button>
				<button class="btn btn-primary disabled" (click)="submit()">Готово</button>
			</div>
		</sobv-header>
	</div>
	<div class="modal-body">
<!--    TODO: remane to sobv-poll-body-->
		<sobv-poll-modal></sobv-poll-modal>
	</div>
</ng-template>
