  .sobv-cascade-level-1 {
    .bi-chevron-down {
      margin-right: 5px;
    }
  }

  .sobv-cascade-level-2 {
    .bi-chevron-down {
      margin-left: 15px;
      margin-right: 5px;
    }
  }

  .sobv-cascade-level-3 {
    margin-left: 30px;
  }

  .sobv-cascade-list {
    .button-container {
      margin-left: 30px; /* Matches typical indentation of level 3 items */
      margin-top: 8px; /* Adds spacing between the last item and the button */
    }
  }

