@import "../../../styles/variables.scss";

.sobv-wrapper {
  display: flex;
  justify-content: center;
  font-size: $sobv-font-size-regular;
}

.sobv-container {
  max-width: 1180px;
  margin-top: 20px;
  flex: 1;
  
}