<sobv-sub-header></sobv-sub-header>
<main class="sobv-wrapper">
  <table class="sobv-container container">
    <thead>
      <tr>
        <th width="280" rowspan="2" style="background: red">
          Категорія
        </th>
        <th width="650" style="background: yellow">
          МПЗ за період
        </th>
        <th width="110" rowspan="2" style="background: green">
          МПЗ середній
        </th>
        <th  width="130" rowspan="2" style="background: cyan">
          Вага
        </th>
      </tr>
      <tr>
        <th style="display: flex;">
          <span *ngFor="let column of columns; index as i;" style="flex: 1;" [ngStyle]="{ 'background': i % 2 ==0 ? 'yellowgreen' : 'cyan' }">  
              {{column}}        
           </span>
        </th>
      </tr>
    </thead>
    <tbody>
      
    </tbody>
    
  </table>
</main>