<div class="container" *ngIf="categoryData">
  <div class="sobv-poll-header row">
    <div class="col-30">
      <h1>
        {{categoryData.title}}
      </h1>
      <p>Роман Романенко (Міша)</p>
    </div>
    <div class="col-30 d-flex align-items-center justify-content-end">
      <ul class="sobv-list-polls">
        <li *ngFor="let item of categoryData.polls; let first = first;">
          <span [ngClass]="{'active': first}">{{item.title}}</span>
          <i class="bi bi-chevron-right align-middle"></i>
        </li>
        <li>
          <span>{{"Item.title"}}</span>
          <i class="bi bi-chevron-right align-middle"></i>
        </li>
      </ul>
    </div>
  </div>
  <div class="sobv-poll-desc" *ngIf="categoryData.polls">
    {{categoryData.polls[0].description}}
  </div>
  <sobv-poll-questions></sobv-poll-questions>
</div>



