<div class="sobv-poll-choice" *ngIf="formChoices">
<!--  <div *ngIf="formChoices.get('sobv-choice-1-name').invalid &&-->
<!--        formChoices.get('sobv-choice-1-name').errors &&-->
<!--        (formChoices.get('sobv-choice-1-name').dirty || formChoices.get('sobv-choice-1-name').touched)">-->
<!--    <small class="text-danger"-->
<!--           *ngIf="formChoices.get('sobv-choice-1-name').hasError('required')">-->
<!--      <span>Це питання є обов'язковими</span>-->
<!--    </small>-->
<!--  </div>-->
  <ul [formGroup]="formChoices">
    <li *ngFor="let item of choices">
      <div class="sobv-radio rate-{{item.value}}">
        <input type="radio"
               id="sobv-poll-choice-{{this.question.id}}-{{item.id}}"
               name="sobv-choice-{{this.question.id}}-name"
               value="{{item.value}}"
               formControlName="sobv-choice-{{this.question.id}}-name"
        >
        <label for="sobv-poll-choice-{{this.question.id}}-{{item.id}}"></label>
        <span class="arrow"></span>
        <div class="sobv-message">{{item.choice_text}}</div>
      </div>
    </li>
  </ul>
</div>
