<div class="sobv-poll-choice">
  <ul>
    <li *ngFor="let item of choices">
      <div class="sobv-radio rate-{{item.value}}">
        <input type="radio"
               id="sobv-poll-choice-red-{{item.value}}"
               name="sobv-poll-choice"
               value="{{item.value}}"
        >
        <label for="sobv-poll-choice-red-{{item.value}}"></label>
        <span class="arrow"></span>
        <div class="sobv-message">{{item.choice_text}}</div>
      </div>

    </li>
  </ul>
</div>
