<div class="modal sobv-modal" id="modal-create-platoon" tabindex="-1">
  <div class="modal-dialog">
    <form class="modal-content p-3">
      <div class="modal-header border-0">
        <h5 class="modal-title ">Додати взвод</h5>
      </div>
      <div class="modal-body">
        <fieldset class="d-flex gap-3">
          <span class="mb-3">
            <label for="inputName" class="form-label">Номер</label>
            <input type="text" id="inputName" class="form-control" >
          </span>
          <span class="mb-3">
            <label for="inputCommander" class="form-label">Командир</label>
            <input type="text" id="inputCommander" class="form-control" >
          </span>
        </fieldset>
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary " data-bs-dismiss="modal">Відмінити</button>
        <button type="submit" class="btn btn-primary ">Зберегти</button>
      </div>
    </form>
  </div>
</div>