@import "./../../../styles/sobv.scss";

.sobv-login {
  height: calc(100vh - $sobv-header-height);
  background: #{$sobv-background-gradient-opacity} ,#{$sobv-sub-header-background} top right/60%, #{$sobv-background-gradient};
  background-repeat: no-repeat; ;

  flex-direction: column;
  display: flex;
  align-items: center;

  .sobv-text-box {
    position: relative;

    > label {
      color: $sobv-color-light;
      font-size: $sobv-font-size-sm;
    }

    > input {
      height: 100%;
    }

    > .sobv-text-box-eye {
      $sobv-eye-size: 18px;
      position: absolute;
      font-size: $sobv-eye-size;
      color: $sobv-color-gray;
      bottom: 15px - $sobv-eye-size / 2;
      right: 10px;
    }
  }

  > h1 {
    margin-top: 60px;
    margin-bottom: 30px;

    color: $sobv-color-white;
    font-size: calc($sobv-font-size * 2);
    font-weight: bold;
  }

  a {
    color: $sobv-color-white;
    font-size: $sobv-font-size-sm;
    text-decoration: none;
    font-weight: 600;
  }
}