<div class="sobv-login">
  <h1>Оцінка МПЗ підрозділу</h1>
  <form>
    <!-- Email input -->
    <div class="sobv-text-box form-outline mb-2">
      <label class="form-label" for="form2Example1">Email address</label>
      <input type="email" id="form2Example1" class="form-control" />
    </div>
  
    <!-- Password input -->
    <div class="sobv-text-box form-outline mb-2">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="password" id="form2Example2" class="form-control" />
    </div>
  
    <a href="#!" class="d-block text-end mb-4">Forgot password?</a>
  
    <!-- Submit button -->
    <button type="button" class="btn btn-lg btn-primary d-block px-5 mb-4 mx-auto">Увійти</button>
  
    <!-- Register buttons -->
    <div class="text-center">
      <p>Not a member? <a href="#!">Register</a></p>
      <p>or sign up with:</p>
      <button type="button" class="btn btn-link btn-floating mx-1 align-self-center">
        <i class="fab fa-facebook-f"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-google"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-twitter"></i>
      </button>
  
      <button type="button" class="btn btn-link btn-floating mx-1">
        <i class="fab fa-github"></i>
      </button>
    </div>
  </form>
</div>