<div class="sobv-login">
  <h1>Оцінка МПЗ підрозділу</h1>
  <form>
    <div class="sobv-text-box form-outline mb-2">
      <label class="form-label" for="form2Example1">Email address</label>
      <input type="email" id="form2Example1" class="form-control" />
    </div>
  
    <div class="sobv-text-box form-outline mb-2">
      <label class="form-label" for="form2Example2">Password</label>
      <input type="password" id="form2Example2" class="form-control" />
      <i class="sobv-text-box-eye bi " [ngClass]="true ? 'bi-eye' : 'bi-eye-slash'" id="togglePassword" style="cursor: pointer"></i>
    </div>
  
    <a href="#" class="d-block text-end mb-4">Забули пароль?</a>
  
    <button type="button" class="btn btn-lg btn-primary d-block px-5 mb-4 mx-auto">Увійти</button>
  
    <a class="d-block text-center" href="#">Зареєструватися</a>
  </form>
</div>