<div class="sobv-login">
  <h1>Оцінка МПЗ підрозділу</h1>
  <form #loginForm="ngForm" (ngSubmit)="onSubmit()">
    <sobv-text-box title="Email" name="Email" [(ngModel)]="formData.email" (ngModelChange)="onChange($event)" required></sobv-text-box>
    
    <!-- <sobv-password-box title="Пароль"  required></sobv-password-box> -->
    <!-- TODO: bind with correct route -->
    <a class="d-block text-end mb-4">Забули пароль?</a>
  
    <button type="submit" class="btn btn-lg btn-primary d-block px-5 mb-4 mx-auto" >Увійти</button>
    <!-- TODO: bind with correct route -->

    <a class="d-block text-center" [routerLink]="['/register']" routerLinkActive="router-link-active">Зареєструватися</a>
  </form>
</div>