@import "../../../styles/variables.scss";

.sobv-header {
  background-color: #{$sobv-header-bg};
  height: #{$sobv-header-height};
  padding: #{$sobv-header-padding};
  color: #{$sobv-color-gray-light};
  display: flex;
  align-items: center;
  .sobv-label {
    font-weight: 300;
    text-transform: uppercase;
  }
}
