@import "./../../../styles/sobv.scss";

.sobv-sub-header {
  min-height: $sobv-sub-header-height;
  
  background:#{$sobv-sub-header-background} center right 50px, #{$sobv-background-gradiend};
  background-repeat: no-repeat;

  padding: 0 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sobv-sub-header-info {
  box-sizing: content-box;
  color: $white;
  font-size: $sobv-font-size;
  font-weight: 300;
  line-height: 20px;
  padding: 30px 0;

  h1 {
    font-size: $sobv-font-size-lg;
    line-height: 36px;
    margin-bottom: 4px;
  }
}

.sobv-sub-header-control {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
