@import "./../../../styles/sobv.scss";

.sobv-sub-header {
  min-height: $sobv-sub-header-height;

  background:#{$sobv-sub-header-background} top 66% right calc($sobv-padding-base * 2) / 30% , #{$sobv-background-gradiend};
  background-repeat: no-repeat;

  padding: 0 calc(2 * $sobv-padding-base);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sobv-sub-header-info {
  box-sizing: content-box;
  color: $white;
  font-size: $sobv-font-size;
  font-weight: 300;
  padding: calc($sobv-padding-base * 1.5) 0;
  
  h1 {
    margin-bottom: 4px;
  }
}

.sobv-sub-header-control {
  flex: 1;
  height: 100%;

  display: flex;
  justify-content: flex-end;
  align-items: center;
}
