@import "./../../../styles/sobv.scss";

.sobv-sub-header-background {
  height: $sobv-height-sub-header;
  background: #{$sobv-background-gradiend} ;
}

.sobv-sub-header-content {
  height: 100%;

  display: flex;
  align-items: center;

  background: #{$sobv-background-image-ukraine-sub-header};
  background-position: top 0 right 50px;
  background-repeat: no-repeat;

  > h2 {
    margin-left: 50px;
    color: $white;
    font-size: $sobv-font-size-h-2;
  }
}

