<div class="container sobv-questions-cont">
  <ul class="sobv-questions-list">
    <li *ngFor="let item of questions$ | async">
      <section>
        <h3>{{ item.question_text }}</h3>
        <div class="row">
          <div class="col-lg-23 col-md-23">
            <div class="sobv-choice-desc"> {{ item.description }}</div>
          </div>
          <div class="col-lg-14 col-md-14">
            <sobv-poll-choices></sobv-poll-choices>
          </div>
          <div class="col-lg-23 col-md-23">
            <div class="sobv-choice-opposite-desc">{{ item.opposite_description }}</div>
          </div>
        </div>
      </section>
    </li>
  </ul>
</div>
