<div
  class="container d-flex justify-content-center align-items-center"
>

  <div class="not-found ">
    <div class="position-relative d-flex justify-content-center align-items-center">
      <span class="bi-file-earmark" style="font-size: 160px;">
      </span>
      <span class="align-middle position-absolute fs-2" >{{number}}</span>
    </div>

    <p class="fs-2 text-center" >{{name}}</p>
    <p class="text-muted text-center">We`re sorry , {{description}} Please go back home</p>

    <div class="d-flex justify-content-center">
      <button class="btn btn-outline-primary m-1" (click)="back()">
        Go Back
      </button>

      <a [routerLink]="['/']" routerLinkActive="router-link-active">
        <button type="button" class="btn btn-primary m-1">Go Home</button>
      </a>
    </div>
  </div>
</div>
