.sobv-mg-top-210 {
  margin-top: 210px;
}

.sobv-mg-bottom-50 {
  margin-bottom: 50px; 
}
.sobv-fs-60 {
  font-size: 60px;
}

.sobv-button {
  height: 40px;
  width: 190px;
}

.sobv-full-page {
  height: calc(100vh - 65.84px);
}