@import "./../../../styles/variables.scss";

.sobv-page-not-found-cont {
  background: #{$sobv-background-image}, #{$sobv-background-gradiend};
  background-repeat: no-repeat;
  background-position: top right;
  height: calc(100vh - #{$sobv-header-height});
  color: $sobv-color-white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  >h1 {
    font-size: 60px;
  }
  > .sobv-desc {
    font-size: $sobv-font-size;
    margin-bottom: 50px;
  }
  .sobv-btn {
    height: $sobv-height-btn;
    width: $sobv-width-btn;
  }
  .sobv-btn-wrap {
    margin-bottom: 85px;
  }
}

