@import "./../../../styles/sobv.scss";

.sobv-register {
  height: calc(100vh - $sobv-header-height);
  background:  #{$sobv-background-gradient-opacity}, #{$sobv-sub-header-background}  top right/60%, #{$sobv-background-gradient};
  background-repeat: no-repeat; ;

  flex-direction: column;
  display: flex;
  align-items: center;

  .sobv-text-box-input-form {
    position: relative;

    > label {
      color: map-get($sobv-map-color, light-gray);
      font-size: $sobv-font-size-sm;
    }

    > input {
      height: 100%;
    }
  }

  > h1 {
    margin-top: 60px;
    margin-bottom: 30px;

    color: map-get($sobv-map-color, white);
    font-size: calc($sobv-font-size * 2);
    font-weight: bold;
  }

  a {
    color: map-get($sobv-map-color, white);
    font-size: $sobv-font-size-sm;
    text-decoration: none;
    font-weight: 600;
  }
}
